In [1]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor

from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection  import SelectKBest, f_regression, mutual_info_regression

import pandas as pd
import numpy as np

import eli5
from tqdm import tqdm
import joblib
import matplotlib as plt

In [2]:
df = pd.read_csv('dataa.csv',delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CLIENT_VAT           148 non-null    object
 1   TIMO_ID              35 non-null     float64
 2   AT_KM                6 non-null      float64
 3   CZ_KM                119 non-null    float64
 4   DE_KM                55 non-null     float64
 5   EE_KM                24 non-null     float64
 6   HU_KM                33 non-null     float64
 7   LT_KM                87 non-null     float64
 8   LV_KM                43 non-null     float64
 9   PL_KM                209 non-null    float64
 10  SE_KM                32 non-null     float64
 11  SK_KM                77 non-null     float64
 12  COMPANY_LP           60 non-null     object
 13  ADRESS_LP            55 non-null     object
 14  COD_LP               262 non-null    object
 15  CITY_LP              77 non-null     object
 16  LATITUDE_LP          0 non-null      float64
 17  LONGTITUDE_LP        0 non-null      float64
 18  START_LOAD_DATA      262 non-null    object
 19  START_LOAD_TIME      105 non-null    object
 20  END_LOAD_DATA        262 non-null    object
 21  END_LOAD_TIME        97 non-null     object
 22  COMPANY_DP           42 non-null     object
 23  ADRESS_DP            42 non-null     object
 24  COD_DP               262 non-null    object
 25  CITY_DP              70 non-null     object
 26  LATITUDE_DP          0 non-null      float64
 27  LONGTITUDE_DP        0 non-null      float64
 28  START_DELIVERY_DATA  262 non-null    object
 29  START_DELIVERY_TIME  80 non-null     object
 30  END_DELIVERY_DATA    262 non-null    object
 31  END_DELIVERY_TIME    84 non-null     object
 32  VEHICLE_TYPE         262 non-null    object
 33  BODY_TYPE            262 non-null    object
 34  LOAD_UNLOAD_METHOD   262 non-null    object
 35  EPALE                82 non-null     float64
 36  GOODS_TYPE           123 non-null    object
 37  TEMP_MIN             20 non-null     float64
 38  TEMP_MAX             20 non-null     float64
 39  EURO                 262 non-null    float64
 40  LDM                  262 non-null    float64
 41  M3                   1 non-null      float64
 42  HEIGHT               0 non-null      float64
 43  WIDTH                0 non-null      float64
 44  TONS                 262 non-null    float64
 45  REQUIREMENTS         2 non-null      object
 46  OTHER_COSTS          25 non-null     float64
 47  QTY_LOADS            262 non-null    int64
 48  QTY_DELIVERIES       262 non-null    int64
 49  SOURCE               170 non-null    object
 50  PAYMENT TERM         135 non-null    float64
 51  DOCUMENTS_BY         7 non-null      object
 52  CARGO_VALUE_EURO     2 non-null      float64
 53  CUSTOMS              2 non-null      float64
 54  TIME_OF_ENTRY        37 non-null     object
dtypes: float64(28), int64(2), object(25)
memory usage: 112.7+ KB

In [3]:
df["VEHICLE_TYPE"].unique()

array(['Rigid truck, Articulated truck', 'Articulated truck',
       'ARTICULATED TRUCK', 'Rigid truck'], dtype=object)

In [3]:
del df["LATITUDE_LP"]
del df["LONGTITUDE_LP"]
del df["LATITUDE_DP"]
del df["LONGTITUDE_DP"]
del df["M3"]
del df["HEIGHT"]
del df["WIDTH"]
 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CLIENT_VAT           148 non-null    object
 1   TIMO_ID              35 non-null     float64
 2   AT_KM                6 non-null      float64
 3   CZ_KM                119 non-null    float64
 4   DE_KM                55 non-null     float64
 5   EE_KM                24 non-null     float64
 6   HU_KM                33 non-null     float64
 7   LT_KM                87 non-null     float64
 8   LV_KM                43 non-null     float64
 9   PL_KM                209 non-null    float64
 10  SE_KM                32 non-null     float64
 11  SK_KM                77 non-null     float64
 12  COMPANY_LP           60 non-null     object
 13  ADRESS_LP            55 non-null     object
 14  COD_LP               262 non-null    object
 15  CITY_LP              77 non-null     object
 16  START_LOAD_DATA      262 non-null    object
 17  START_LOAD_TIME      105 non-null    object
 18  END_LOAD_DATA        262 non-null    object
 19  END_LOAD_TIME        97 non-null     object
 20  COMPANY_DP           42 non-null     object
 21  ADRESS_DP            42 non-null     object
 22  COD_DP               262 non-null    object
 23  CITY_DP              70 non-null     object
 24  START_DELIVERY_DATA  262 non-null    object
 25  START_DELIVERY_TIME  80 non-null     object
 26  END_DELIVERY_DATA    262 non-null    object
 27  END_DELIVERY_TIME    84 non-null     object
 28  VEHICLE_TYPE         262 non-null    object
 29  BODY_TYPE            262 non-null    object
 30  LOAD_UNLOAD_METHOD   262 non-null    object
 31  EPALE                82 non-null     float64
 32  GOODS_TYPE           123 non-null    object
 33  TEMP_MIN             20 non-null     float64
 34  TEMP_MAX             20 non-null     float64
 35  EURO                 262 non-null    float64
 36  LDM                  262 non-null    float64
 37  TONS                 262 non-null    float64
 38  REQUIREMENTS         2 non-null      object
 39  OTHER_COSTS          25 non-null     float64
 40  QTY_LOADS            262 non-null    int64
 41  QTY_DELIVERIES       262 non-null    int64
 42  SOURCE               170 non-null    object
 43  PAYMENT TERM         135 non-null    float64
 44  DOCUMENTS_BY         7 non-null      object
 45  CARGO_VALUE_EURO     2 non-null      float64
 46  CUSTOMS              2 non-null      float64
 47  TIME_OF_ENTRY        37 non-null     object
dtypes: float64(21), int64(2), object(25)
memory usage: 98.4+ KB

In [4]:
# Value Complement
df['CLIENT_VAT'] = df['CLIENT_VAT'].str.upper()
df['CLIENT_VAT'] = df['CLIENT_VAT'].fillna('OTHER')
df['CLIENT_VAT'] = pd.factorize(df['CLIENT_VAT'])[0]
df['TIMO_ID'].fillna(int(df['TIMO_ID'].mean()), inplace=True)

df['AT_KM'] = df['AT_KM'].fillna(0)
df['CZ_KM'] = df['CZ_KM'].fillna(0)
df['DE_KM'] = df['DE_KM'].fillna(0)
df['EE_KM'] = df['EE_KM'].fillna(0)
df['HU_KM'] = df['HU_KM'].fillna(0)
df['LT_KM'] = df['LT_KM'].fillna(0)
df['LV_KM'] = df['LV_KM'].fillna(0)
df['PL_KM'] = df['PL_KM'].fillna(0)
df['SE_KM'] = df['SE_KM'].fillna(0)
df['SK_KM'] = df['SK_KM'].fillna(0)

df['VEHICLE_TYPE'] = df['VEHICLE_TYPE'].str.upper()
df['VEHICLE_TYPE'] = df['VEHICLE_TYPE'].fillna('OTHER')
df['VEHICLE_TYPE'] = pd.factorize(df['VEHICLE_TYPE'])[0]

df['BODY_TYPE'] = df['BODY_TYPE'].str.upper()
df['BODY_TYPE'] = df['BODY_TYPE'].fillna('OTHER')
df['BODY_TYPE'] = pd.factorize(df['BODY_TYPE'])[0]

df['LOAD_UNLOAD_METHOD'] = df['LOAD_UNLOAD_METHOD'].str.upper()
df['LOAD_UNLOAD_METHOD'] = df['LOAD_UNLOAD_METHOD'].fillna('OTHER')
df['LOAD_UNLOAD_METHOD'] = pd.factorize(df['LOAD_UNLOAD_METHOD'])[0]

df['EPALE'] = df['EPALE'].fillna(0)

df['GOODS_TYPE'] = df['GOODS_TYPE'].str.upper()
df['GOODS_TYPE'] = df['GOODS_TYPE'].fillna('OTHER')
df['GOODS_TYPE'] = pd.factorize(df['GOODS_TYPE'])[0]

df['TEMP_MIN'].fillna(int(df['TEMP_MIN'].mean()), inplace=True)
df['TEMP_MAX'].fillna(int(df['TEMP_MAX'].mean()), inplace=True)

df['REQUIREMENTS'] = df['REQUIREMENTS'].str.upper()
df['REQUIREMENTS'] = df['REQUIREMENTS'].fillna('OTHER')
df['REQUIREMENTS'] = pd.factorize(df['REQUIREMENTS'])[0]

df['OTHER_COSTS'] = df['OTHER_COSTS'].fillna(0)

df['QTY_LOADS'] = df['QTY_LOADS'].fillna(1)
df['QTY_DELIVERIES'] = df['QTY_DELIVERIES'].fillna(1)

df['SOURCE'] = df['SOURCE'].str.upper()
df['SOURCE'] = df['SOURCE'].fillna('OTHER')
df['SOURCE'] = pd.factorize(df['SOURCE'])[0]

df['PAYMENT TERM'].fillna(int(df['PAYMENT TERM'].mean()), inplace=True)

df['CARGO_VALUE_EURO'].fillna(int(df['CARGO_VALUE_EURO'].mean()), inplace=True)

df['CUSTOMS'] = df['CUSTOMS'].fillna(0) #0 - no customs, 1 customs export or import, 2 export and import customss

In [5]:
df["START_LOAD_DATA"] = pd.to_datetime(df["START_LOAD_DATA"], dayfirst=True)
df["END_LOAD_DATA"] = pd.to_datetime(df["END_LOAD_DATA"], dayfirst=True)
df["START_DELIVERY_DATA"] = pd.to_datetime(df["START_DELIVERY_DATA"], dayfirst=True)
df["END_DELIVERY_DATA"] = pd.to_datetime(df["END_DELIVERY_DATA"], dayfirst=True)

In [6]:
df['START_LOAD_DATA_YEAR'] = df['START_LOAD_DATA'].dt.year
df['START_LOAD_DATA_MONTH'] = df['START_LOAD_DATA'].dt.month
df['START_LOAD_DATA_WEEK_OF_YEAR'] = df['START_LOAD_DATA'].dt.isocalendar().week
df['START_LOAD_DATA_WEEKDAY'] = df['START_LOAD_DATA'].dt.weekday
df['START_LOAD_DATA_DAY'] = df['START_LOAD_DATA'].dt.day
df['START_LOAD_DATA_DAY_OF_YEAR'] = df['START_LOAD_DATA'].dt.dayofyear
    
df['END_LOAD_DATA_YEAR'] = df['END_LOAD_DATA'].dt.year
df['END_LOAD_DATA_MONTH'] = df['END_LOAD_DATA'].dt.month
df['END_LOAD_DATA_WEEK_OF_YEAR'] = df['END_LOAD_DATA'].dt.isocalendar().week
df['END_LOAD_DATA_WEEKDAY'] = df['END_LOAD_DATA'].dt.weekday
df['END_LOAD_DATA_DAY'] = df['END_LOAD_DATA'].dt.day
df['END_LOAD_DATA_DAY_OF_YEAR'] = df['END_LOAD_DATA'].dt.dayofyear
                                          
df['START_DELIVERY_DATA_YEAR'] = df['START_DELIVERY_DATA'].dt.year
df['START_DELIVERY_DATA_MONTH'] = df['START_DELIVERY_DATA'].dt.month
df['START_DELIVERY_DATA_WEEK_OF_YEAR'] = df['START_DELIVERY_DATA'].dt.isocalendar().week
df['START_DELIVERY_DATA_WEEKDAY'] = df['START_DELIVERY_DATA'].dt.weekday
df['START_DELIVERY_DATA_DAY'] = df['START_DELIVERY_DATA'].dt.day
df['START_DELIVERY_DATA_DAY_OF_YEAR'] = df['START_DELIVERY_DATA'].dt.dayofyear
                                                
df['END_DELIVERY_DATA_YEAR'] = df['END_DELIVERY_DATA'].dt.year
df['END_DELIVERY_DATA_MONTH'] = df['END_DELIVERY_DATA'].dt.month
df['END_DELIVERY_DATA_WEEK_OF_YEAR'] = df['END_DELIVERY_DATA'].dt.isocalendar().week
df['END_DELIVERY_DATA_WEEKDAY'] = df['END_DELIVERY_DATA'].dt.weekday
df['END_DELIVERY_DATA_DAY'] = df['END_DELIVERY_DATA'].dt.day
df['END_DELIVERY_DATA_DAY_OF_YEAR'] = df['END_DELIVERY_DATA'].dt.dayofyear

In [7]:
#feature_engineering
df["KM"] = df['AT_KM'] + df['CZ_KM'] + df['DE_KM'] + df['EE_KM'] + df['HU_KM'] + df['LT_KM'] + df['LV_KM'] + df['PL_KM'] + df['SE_KM'] + df['SK_KM']
df["EUROforKM"] = df['EURO'] / df['KM']

df["COUNTRY_LOAD_PLACE"] = df["COD_LP"].str[:2]
df['COUNTRY_LOAD_PLACE'] = pd.factorize(df['COUNTRY_LOAD_PLACE'])[0]
df["COUNTRY_DELIVERY_PLACE"] = df["COD_DP"].str[:2]
df['COUNTRY_DELIVERY_PLACE'] = pd.factorize(df['COUNTRY_DELIVERY_PLACE'])[0]
df["RELATION"] = df["COD_LP"].str[:2] + ' to ' + df["COD_DP"].str[:2]

In [8]:
def feature_engineering(df):

    df_relation = df[ ["RELATION", "EUROforKM"] ].groupby(["RELATION"]).agg(["median","mean"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_relation, on=["RELATION"], how="left")
    df.rename(columns = {'mean':'Mean Price in Relation', 'median':'Median Price in Relation'}, inplace = True)

    df_load = df[ ["COUNTRY_LOAD_PLACE", "EUROforKM"] ].groupby(["COUNTRY_LOAD_PLACE"]).agg(["median","mean"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_load, on=["COUNTRY_LOAD_PLACE"], how="left")
    df.rename(columns = {'mean':'Mean Price from Country', 'median':'Median Price from Country'}, inplace = True)
    
    df_delivery = df[ ["COUNTRY_DELIVERY_PLACE", "EUROforKM"] ].groupby(["COUNTRY_DELIVERY_PLACE"]).agg(["median","mean"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_delivery, on=["COUNTRY_DELIVERY_PLACE"], how="left")
    df.rename(columns = {'mean':'Mean Price to Country', 'median':'Median Price to Country'}, inplace = True)
    
    df_vehicletype = df[ ["VEHICLE_TYPE", "EUROforKM"] ].groupby(["VEHICLE_TYPE"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_vehicletype, on=["VEHICLE_TYPE"], how="left")
    df.rename(columns = {'mean':'Mean Price for Vehicle Type', 'median':'Median Price for Vehicle Type',}, inplace = True)
    
    df_bodytype = df[ ["BODY_TYPE", "EUROforKM"] ].groupby(["BODY_TYPE"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_bodytype, on=["BODY_TYPE"], how="left")
    df.rename(columns = {'mean':'Mean Price for Body Type', 'median':'Median Price for Body Type',}, inplace = True)
    
    df_loadunloadmethod = df[ ["LOAD_UNLOAD_METHOD", "EUROforKM"] ].groupby(["LOAD_UNLOAD_METHOD"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_loadunloadmethod, on=["LOAD_UNLOAD_METHOD"], how="left")
    df.rename(columns = {'mean':'Mean Price  for load/unload method', 'median':'Median Price for load/unload method',}, inplace = True)
    
    # data
    
    df_sldd = df[ ["START_LOAD_DATA_DAY", "EUROforKM"] ].groupby(["START_LOAD_DATA_DAY"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_sldd, on=["START_LOAD_DATA_DAY"], how="left")
    df.rename(columns = {'mean':'Mean Price in start load data day', 'median':'Median Price in start load data day',}, inplace = True)
    
    # 2 features
    
    df_vehicletype_relation = df[ ["VEHICLE_TYPE", "RELATION", "EUROforKM"] ].groupby(["VEHICLE_TYPE", "RELATION"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_vehicletype_relation, on=["VEHICLE_TYPE", "RELATION"], how="left")
    df.rename(columns = {'mean':'Mean Price for Vehicle Type in Relation', 'median':'Median Price for Vehicle Type in Relation',}, inplace = True)

    df_relation_sldd = df[ ["START_LOAD_DATA_DAY", "RELATION", "EUROforKM"] ].groupby(["START_LOAD_DATA_DAY", "RELATION"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_relation_sldd, on=["START_LOAD_DATA_DAY", "RELATION"], how="left")
    df.rename(columns = {'mean':'Mean Price for start load data day in Relation', 'median':'Median Price for start load data day in Relation',}, inplace = True)
    
    df_relation_sdw = df[ ["START_DELIVERY_DATA_WEEKDAY", "RELATION", "EUROforKM"] ].groupby(["START_DELIVERY_DATA_WEEKDAY", "RELATION"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_relation_sdw, on=["START_DELIVERY_DATA_WEEKDAY", "RELATION"], how="left")
    df.rename(columns = {'mean':'Mean Price for start delivery weekday in Relation', 'median':'Median Price for start start delivery weekday in Relation',}, inplace = True)
    
    df_delivery_sld = df[ ["START_LOAD_DATA_DAY", "COUNTRY_DELIVERY_PLACE", "EUROforKM"] ].groupby(["START_LOAD_DATA_DAY", "COUNTRY_DELIVERY_PLACE"]).agg(["mean", "median"])["EUROforKM"].reset_index()
    df = pd.merge(df, df_delivery_sld, on=["START_LOAD_DATA_DAY", "COUNTRY_DELIVERY_PLACE"], how="left")
    df.rename(columns = {'mean':'Mean Price for start load day to Country', 'median':'Median Price start load day to Country',}, inplace = True)
    
    return df

In [9]:
df.rename(columns = {'KM':'Distance [km]'}, inplace = True)

In [10]:
def get_feats(df, black_list=['EURO', 'EUROforKM']):
    return [x for x in df.select_dtypes(["number", "bool"]).columns if x not in black_list]

In [11]:
def get_X_y(df, fe=feature_engineering, verbose=False):
    df_new = fe(df.copy())
    feats = get_feats(df_new, black_list=['EURO','EUROforKM'])
    if verbose:
        print("feats: ", feats)
    X = df_new[feats].values
    y = df["EURO"].values
    
    return X, y

In [12]:
def train_and_valid(model, X, y, cv=5, scoring="neg_mean_absolute_error"):
    scores = cross_val_score(model, X, y, cv=cv, scoring=scoring)
    return np.mean(scores), np.std(scores)

In [13]:
def e(model, cv=5, verbose=False):
    X, y = get_X_y(df, verbose=verbose)
    return train_and_valid(model, X, y, cv=cv)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 77 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CLIENT_VAT                        262 non-null    int64
 1   TIMO_ID                           262 non-null    float64
 2   AT_KM                             262 non-null    float64
 3   CZ_KM                             262 non-null    float64
 4   DE_KM                             262 non-null    float64
 5   EE_KM                             262 non-null    float64
 6   HU_KM                             262 non-null    float64
 7   LT_KM                             262 non-null    float64
 8   LV_KM                             262 non-null    float64
 9   PL_KM                             262 non-null    float64
 10  SE_KM                             262 non-null    float64
 11  SK_KM                             262 non-null    float64
 12  COMPANY_LP                        60 non-null     object
 13  ADRESS_LP                         55 non-null     object
 14  COD_LP                            262 non-null    object
 15  CITY_LP                           77 non-null     object
 16  START_LOAD_DATA                   262 non-null    datetime64[ns]
 17  START_LOAD_TIME                   105 non-null    object
 18  END_LOAD_DATA                     262 non-null    datetime64[ns]
 19  END_LOAD_TIME                     97 non-null     object
 20  COMPANY_DP                        42 non-null     object
 21  ADRESS_DP                         42 non-null     object
 22  COD_DP                            262 non-null    object
 23  CITY_DP                           70 non-null     object
 24  START_DELIVERY_DATA               262 non-null    datetime64[ns]
 25  START_DELIVERY_TIME               80 non-null     object
 26  END_DELIVERY_DATA                 262 non-null    datetime64[ns]
 27  END_DELIVERY_TIME                 84 non-null     object
 28  VEHICLE_TYPE                      262 non-null    int64
 29  BODY_TYPE                         262 non-null    int64
 30  LOAD_UNLOAD_METHOD                262 non-null    int64
 31  EPALE                             262 non-null    float64
 32  GOODS_TYPE                        262 non-null    int64
 33  TEMP_MIN                          262 non-null    float64
 34  TEMP_MAX                          262 non-null    float64
 35  EURO                              262 non-null    float64
 36  LDM                               262 non-null    float64
 37  TONS                              262 non-null    float64
 38  REQUIREMENTS                      262 non-null    int64
 39  OTHER_COSTS                       262 non-null    float64
 40  QTY_LOADS                         262 non-null    int64
 41  QTY_DELIVERIES                    262 non-null    int64
 42  SOURCE                            262 non-null    int64
 43  PAYMENT TERM                      262 non-null    float64
 44  DOCUMENTS_BY                      7 non-null      object
 45  CARGO_VALUE_EURO                  262 non-null    float64
 46  CUSTOMS                           262 non-null    float64
 47  TIME_OF_ENTRY                     37 non-null     object
 48  START_LOAD_DATA_YEAR              262 non-null    int64
 49  START_LOAD_DATA_MONTH             262 non-null    int64
 50  START_LOAD_DATA_WEEK_OF_YEAR      262 non-null    UInt32
 51  START_LOAD_DATA_WEEKDAY           262 non-null    int64
 52  START_LOAD_DATA_DAY               262 non-null    int64
 53  START_LOAD_DATA_DAY_OF_YEAR       262 non-null    int64
 54  END_LOAD_DATA_YEAR                262 non-null    int64
 55  END_LOAD_DATA_MONTH               262 non-null    int64
 56  END_LOAD_DATA_WEEK_OF_YEAR        262 non-null    UInt32
 57  END_LOAD_DATA_WEEKDAY             262 non-null    int64
 58  END_LOAD_DATA_DAY                 262 non-null    int64
 59  END_LOAD_DATA_DAY_OF_YEAR         262 non-null    int64
 60  START_DELIVERY_DATA_YEAR          262 non-null    int64
 61  START_DELIVERY_DATA_MONTH         262 non-null    int64
 62  START_DELIVERY_DATA_WEEK_OF_YEAR  262 non-null    UInt32
 63  START_DELIVERY_DATA_WEEKDAY       262 non-null    int64
 64  START_DELIVERY_DATA_DAY           262 non-null    int64
 65  START_DELIVERY_DATA_DAY_OF_YEAR   262 non-null    int64
 66  END_DELIVERY_DATA_YEAR            262 non-null    int64
 67  END_DELIVERY_DATA_MONTH           262 non-null    int64
 68  END_DELIVERY_DATA_WEEK_OF_YEAR    262 non-null    UInt32
 69  END_DELIVERY_DATA_WEEKDAY         262 non-null    int64
 70  END_DELIVERY_DATA_DAY             262 non-null    int64
 71  END_DELIVERY_DATA_DAY_OF_YEAR     262 non-null    int64
 72  Distance [km]                     262 non-null    float64
 73  EUROforKM                         262 non-null    float64
 74  COUNTRY_LOAD_PLACE                262 non-null    int64
 75  COUNTRY_DELIVERY_PLACE            262 non-null    int64
 76  RELATION                          262 non-null    object
dtypes: UInt32(4), datetime64[ns](4), float64(23), int64(31), object(15)
memory usage: 154.7+ KB

In [15]:
e(DecisionTreeRegressor(random_state=0, max_depth=10), verbose=True)

feats:  ['CLIENT_VAT', 'TIMO_ID', 'AT_KM', 'CZ_KM', 'DE_KM', 'EE_KM', 'HU_KM', 'LT_KM', 'LV_KM', 'PL_KM', 'SE_KM', 'SK_KM', 'VEHICLE_TYPE', 'BODY_TYPE', 'LOAD_UNLOAD_METHOD', 'EPALE', 'GOODS_TYPE', 'TEMP_MIN', 'TEMP_MAX', 'LDM', 'TONS', 'REQUIREMENTS', 'OTHER_COSTS', 'QTY_LOADS', 'QTY_DELIVERIES', 'SOURCE', 'PAYMENT TERM', 'CARGO_VALUE_EURO', 'CUSTOMS', 'START_LOAD_DATA_YEAR', 'START_LOAD_DATA_MONTH', 'START_LOAD_DATA_WEEK_OF_YEAR', 'START_LOAD_DATA_WEEKDAY', 'START_LOAD_DATA_DAY', 'START_LOAD_DATA_DAY_OF_YEAR', 'END_LOAD_DATA_YEAR', 'END_LOAD_DATA_MONTH', 'END_LOAD_DATA_WEEK_OF_YEAR', 'END_LOAD_DATA_WEEKDAY', 'END_LOAD_DATA_DAY', 'END_LOAD_DATA_DAY_OF_YEAR', 'START_DELIVERY_DATA_YEAR', 'START_DELIVERY_DATA_MONTH', 'START_DELIVERY_DATA_WEEK_OF_YEAR', 'START_DELIVERY_DATA_WEEKDAY', 'START_DELIVERY_DATA_DAY', 'START_DELIVERY_DATA_DAY_OF_YEAR', 'END_DELIVERY_DATA_YEAR', 'END_DELIVERY_DATA_MONTH', 'END_DELIVERY_DATA_WEEK_OF_YEAR', 'END_DELIVERY_DATA_WEEKDAY', 'END_DELIVERY_DATA_DAY', 'END_DELIVERY_DATA_DAY_OF_YEAR', 'Distance [km]', 'COUNTRY_LOAD_PLACE', 'COUNTRY_DELIVERY_PLACE', 'Median Price in Relation', 'Mean Price in Relation', 'Median Price from Country', 'Mean Price from Country', 'Median Price to Country', 'Mean Price to Country', 'Mean Price for Vehicle Type', 'Median Price for Vehicle Type', 'Mean Price for Body Type', 'Median Price for Body Type', 'Mean Price  for load/unload method', 'Median Price for load/unload method', 'Mean Price in start load data day', 'Median Price in start load data day', 'Mean Price for Vehicle Type in Relation', 'Median Price for Vehicle Type in Relation', 'Mean Price for start load data day in Relation', 'Median Price for start load data day in Relation', 'Mean Price for start delivery weekday in Relation', 'Median Price for start start delivery weekday in Relation', 'Mean Price for start load day to Country', 'Median Price start load day to Country']

(-175.20478797440643, 117.62429657513884)

In [16]:
e(RandomForestRegressor(random_state=0, max_depth=10, n_estimators=100), verbose=True)

feats:  ['CLIENT_VAT', 'TIMO_ID', 'AT_KM', 'CZ_KM', 'DE_KM', 'EE_KM', 'HU_KM', 'LT_KM', 'LV_KM', 'PL_KM', 'SE_KM', 'SK_KM', 'VEHICLE_TYPE', 'BODY_TYPE', 'LOAD_UNLOAD_METHOD', 'EPALE', 'GOODS_TYPE', 'TEMP_MIN', 'TEMP_MAX', 'LDM', 'TONS', 'REQUIREMENTS', 'OTHER_COSTS', 'QTY_LOADS', 'QTY_DELIVERIES', 'SOURCE', 'PAYMENT TERM', 'CARGO_VALUE_EURO', 'CUSTOMS', 'START_LOAD_DATA_YEAR', 'START_LOAD_DATA_MONTH', 'START_LOAD_DATA_WEEK_OF_YEAR', 'START_LOAD_DATA_WEEKDAY', 'START_LOAD_DATA_DAY', 'START_LOAD_DATA_DAY_OF_YEAR', 'END_LOAD_DATA_YEAR', 'END_LOAD_DATA_MONTH', 'END_LOAD_DATA_WEEK_OF_YEAR', 'END_LOAD_DATA_WEEKDAY', 'END_LOAD_DATA_DAY', 'END_LOAD_DATA_DAY_OF_YEAR', 'START_DELIVERY_DATA_YEAR', 'START_DELIVERY_DATA_MONTH', 'START_DELIVERY_DATA_WEEK_OF_YEAR', 'START_DELIVERY_DATA_WEEKDAY', 'START_DELIVERY_DATA_DAY', 'START_DELIVERY_DATA_DAY_OF_YEAR', 'END_DELIVERY_DATA_YEAR', 'END_DELIVERY_DATA_MONTH', 'END_DELIVERY_DATA_WEEK_OF_YEAR', 'END_DELIVERY_DATA_WEEKDAY', 'END_DELIVERY_DATA_DAY', 'END_DELIVERY_DATA_DAY_OF_YEAR', 'Distance [km]', 'COUNTRY_LOAD_PLACE', 'COUNTRY_DELIVERY_PLACE', 'Median Price in Relation', 'Mean Price in Relation', 'Median Price from Country', 'Mean Price from Country', 'Median Price to Country', 'Mean Price to Country', 'Mean Price for Vehicle Type', 'Median Price for Vehicle Type', 'Mean Price for Body Type', 'Median Price for Body Type', 'Mean Price  for load/unload method', 'Median Price for load/unload method', 'Mean Price in start load data day', 'Median Price in start load data day', 'Mean Price for Vehicle Type in Relation', 'Median Price for Vehicle Type in Relation', 'Mean Price for start load data day in Relation', 'Median Price for start load data day in Relation', 'Mean Price for start delivery weekday in Relation', 'Median Price for start start delivery weekday in Relation', 'Mean Price for start load day to Country', 'Median Price start load day to Country']

(-132.31738361268796, 102.80995416311973)

In [17]:
e(ExtraTreesRegressor(random_state=0, max_depth=10, n_estimators=100), verbose=True)

feats:  ['CLIENT_VAT', 'TIMO_ID', 'AT_KM', 'CZ_KM', 'DE_KM', 'EE_KM', 'HU_KM', 'LT_KM', 'LV_KM', 'PL_KM', 'SE_KM', 'SK_KM', 'VEHICLE_TYPE', 'BODY_TYPE', 'LOAD_UNLOAD_METHOD', 'EPALE', 'GOODS_TYPE', 'TEMP_MIN', 'TEMP_MAX', 'LDM', 'TONS', 'REQUIREMENTS', 'OTHER_COSTS', 'QTY_LOADS', 'QTY_DELIVERIES', 'SOURCE', 'PAYMENT TERM', 'CARGO_VALUE_EURO', 'CUSTOMS', 'START_LOAD_DATA_YEAR', 'START_LOAD_DATA_MONTH', 'START_LOAD_DATA_WEEK_OF_YEAR', 'START_LOAD_DATA_WEEKDAY', 'START_LOAD_DATA_DAY', 'START_LOAD_DATA_DAY_OF_YEAR', 'END_LOAD_DATA_YEAR', 'END_LOAD_DATA_MONTH', 'END_LOAD_DATA_WEEK_OF_YEAR', 'END_LOAD_DATA_WEEKDAY', 'END_LOAD_DATA_DAY', 'END_LOAD_DATA_DAY_OF_YEAR', 'START_DELIVERY_DATA_YEAR', 'START_DELIVERY_DATA_MONTH', 'START_DELIVERY_DATA_WEEK_OF_YEAR', 'START_DELIVERY_DATA_WEEKDAY', 'START_DELIVERY_DATA_DAY', 'START_DELIVERY_DATA_DAY_OF_YEAR', 'END_DELIVERY_DATA_YEAR', 'END_DELIVERY_DATA_MONTH', 'END_DELIVERY_DATA_WEEK_OF_YEAR', 'END_DELIVERY_DATA_WEEKDAY', 'END_DELIVERY_DATA_DAY', 'END_DELIVERY_DATA_DAY_OF_YEAR', 'Distance [km]', 'COUNTRY_LOAD_PLACE', 'COUNTRY_DELIVERY_PLACE', 'Median Price in Relation', 'Mean Price in Relation', 'Median Price from Country', 'Mean Price from Country', 'Median Price to Country', 'Mean Price to Country', 'Mean Price for Vehicle Type', 'Median Price for Vehicle Type', 'Mean Price for Body Type', 'Median Price for Body Type', 'Mean Price  for load/unload method', 'Median Price for load/unload method', 'Mean Price in start load data day', 'Median Price in start load data day', 'Mean Price for Vehicle Type in Relation', 'Median Price for Vehicle Type in Relation', 'Mean Price for start load data day in Relation', 'Median Price for start load data day in Relation', 'Mean Price for start delivery weekday in Relation', 'Median Price for start start delivery weekday in Relation', 'Mean Price for start load day to Country', 'Median Price start load day to Country']

(-132.7522581060204, 104.39785075733631)

In [18]:
e(GradientBoostingRegressor(random_state=0, max_depth=10, n_estimators=100), verbose=True)

feats:  ['CLIENT_VAT', 'TIMO_ID', 'AT_KM', 'CZ_KM', 'DE_KM', 'EE_KM', 'HU_KM', 'LT_KM', 'LV_KM', 'PL_KM', 'SE_KM', 'SK_KM', 'VEHICLE_TYPE', 'BODY_TYPE', 'LOAD_UNLOAD_METHOD', 'EPALE', 'GOODS_TYPE', 'TEMP_MIN', 'TEMP_MAX', 'LDM', 'TONS', 'REQUIREMENTS', 'OTHER_COSTS', 'QTY_LOADS', 'QTY_DELIVERIES', 'SOURCE', 'PAYMENT TERM', 'CARGO_VALUE_EURO', 'CUSTOMS', 'START_LOAD_DATA_YEAR', 'START_LOAD_DATA_MONTH', 'START_LOAD_DATA_WEEK_OF_YEAR', 'START_LOAD_DATA_WEEKDAY', 'START_LOAD_DATA_DAY', 'START_LOAD_DATA_DAY_OF_YEAR', 'END_LOAD_DATA_YEAR', 'END_LOAD_DATA_MONTH', 'END_LOAD_DATA_WEEK_OF_YEAR', 'END_LOAD_DATA_WEEKDAY', 'END_LOAD_DATA_DAY', 'END_LOAD_DATA_DAY_OF_YEAR', 'START_DELIVERY_DATA_YEAR', 'START_DELIVERY_DATA_MONTH', 'START_DELIVERY_DATA_WEEK_OF_YEAR', 'START_DELIVERY_DATA_WEEKDAY', 'START_DELIVERY_DATA_DAY', 'START_DELIVERY_DATA_DAY_OF_YEAR', 'END_DELIVERY_DATA_YEAR', 'END_DELIVERY_DATA_MONTH', 'END_DELIVERY_DATA_WEEK_OF_YEAR', 'END_DELIVERY_DATA_WEEKDAY', 'END_DELIVERY_DATA_DAY', 'END_DELIVERY_DATA_DAY_OF_YEAR', 'Distance [km]', 'COUNTRY_LOAD_PLACE', 'COUNTRY_DELIVERY_PLACE', 'Median Price in Relation', 'Mean Price in Relation', 'Median Price from Country', 'Mean Price from Country', 'Median Price to Country', 'Mean Price to Country', 'Mean Price for Vehicle Type', 'Median Price for Vehicle Type', 'Mean Price for Body Type', 'Median Price for Body Type', 'Mean Price  for load/unload method', 'Median Price for load/unload method', 'Mean Price in start load data day', 'Median Price in start load data day', 'Mean Price for Vehicle Type in Relation', 'Median Price for Vehicle Type in Relation', 'Mean Price for start load data day in Relation', 'Median Price for start load data day in Relation', 'Mean Price for start delivery weekday in Relation', 'Median Price for start start delivery weekday in Relation', 'Mean Price for start load day to Country', 'Median Price start load day to Country']

(-174.11556861123103, 123.93129437736748)

In [19]:
def im(model_cls, model_params, verbose=False):
    df_new = feature_engineering(df.copy())
    feats = get_feats(df_new)
    if verbose:
        print("feats: ", feats)
        print("model params: ", model_params)

    X, y = df_new[feats].values, df['EURO']
    model = model_cls(**model_params)
    model.fit(X, y)

    return eli5.show_weights(model, feature_names=feats)

In [20]:
im(DecisionTreeRegressor, dict(random_state=0, max_depth=10), verbose=False)

In [21]:
im(RandomForestRegressor, dict(random_state=0, max_depth=10, n_estimators=100), verbose=False)

In [22]:
im(ExtraTreesRegressor, dict(random_state=0, max_depth=10, n_estimators=100), verbose=False)

In [23]:
im(GradientBoostingRegressor, dict(random_state=0, max_depth=10, n_estimators=100), verbose=False)